<%- include("./partials/header.ejs", {title: ""}) %>

<div class="not-found__container">
    <h1 class="not-found">404 Page not found</h1>
</div>

<style> 
    .not-found__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .not-found{
        text-align: center;
        font-size: 100px;
        font-weight: bold;
    }
</style>