<form>
  <label for="username">Nom d'utilisateur:</label><br />
  <input type="text" id="username" name="username" required /><br />
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br />
  <label for="password">Mot de passe:</label><br />
  <input type="password" id="password" name="password" required /><br />
  <label for="confirmPassword">Confirmer le mot de passe:</label><br />
  <input
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    required
  /><br />
  <label for="firstname">Prénom:</label><br />
  <input type="text" id="firstname" name="firstname" required /><br />
  <label for="lastname">Nom:</label><br />
  <input type="text" id="lastname" name="lastname" required /><br />
  <input type="submit" value="S'inscrire" id="submitBtn" />
</form>
<p>Vous avez déjà un compte? <a href="/login">Connectez-vous ici</a></p>
<script>
  const form = document.querySelector("form");
  const submitBtn = document.getElementById("submitBtn");
  submitBtn.addEventListener("click", function (event) {
    // Récupère les valeurs des champs
    const username = document.getElementById("username").value;
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirmPassword").value;
    const firstname = document.getElementById("firstname").value;
    const lastname = document.getElementById("lastname").value;

    // Vérifie si les champs ne sont pas vides
    if (
      !username ||
      !email ||
      !password ||
      !confirmPassword ||
      !firstname ||
      !lastname
    ) {
      alert("Veuillez remplir tous les champs.");
      event.preventDefault(); // Empêche la soumission du formulaire
      return false;
    }

    // Vérifie si les mots de passe correspondent
    if (password !== confirmPassword) {
      alert("Les mots de passe ne correspondent pas.");
      event.preventDefault();
      return false;
    }

    // Vérifie si l'email est valide
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
      alert("Veuillez entrer une adresse email valide.");
      event.preventDefault();
      return false;
    }
    console.log("Formulaire valide");
  });
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    const data = Object.fromEntries(formData.entries());
    try {
      submitBtn.disabled = true;
      const response = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json",
        },
      });
      submitBtn.disabled = false;
      if (response.ok) {
        window.location.href = "http://localhost:3000/";
      } else {
        alert(await response.text())
      }
    } catch (err) {
      console.error(err);
    }
  });
</script>
